<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whh.art.dao.mapper.ArtMapper">

	<select id="getArt" resultType="ArtModel" parameterType="int">
		select
			id,artName,artNumber, artInnerNumber,artImage,artAudio,artYear,artAuthor,artSize,artMaterial,artCert,artDesc
		from 
			art 
		where
			id = #{id}
	</select>

	<update id="updateArt" parameterType="ArtModel">
		update 
			artName = #{artName},
			artNumber = #{artNumber},
			artInnerNumber = #{artInnerNumber},
			<if test="artImage != null and artImage != ''">
				artImage = #{artImage},
			</if>
			<if test="artAudio != null and artAudio != ''">
				artAudio = #{artAudio},
			</if>
			artYear = #{artYear},
			artAuthor = #{artAuthor},
			artSize = #{artSize},
			artMaterial = #{artMaterial},
			artCert = #{artCert},
			artDesc = #{artDesc}
		where id = #{id}
	</update>

	<select id="searchArts" resultType="ArtModel" parameterType="SearchModel">
		select
			a.id,a.artName,a.artNumber,a.artInnerNumber,a.artImage,a.artAudio,a.artYear,a.artAuthor,a.artSize,a.artMaterial,a.artCert,a.artDesc
		from 
		<if test="batchId > 0">
			art a ,art_museum m
		</if>
		<if test="batchId == 0">
			art a
		</if>
		<where>
			<if test="batchId > 0">
				a.id = m.artId and m.museumId = #{batchId}
			</if>
			<if test="name != null and name != ''">
				and a.artName like #{name}
			</if>
			<if test="number != null and number != ''">
				and a.artNumber like #{number}
			</if>
			<if test="innerNumber != null and innerNumber != ''">
				and a.artInnerNumber like #{innerNumber}
			</if>
			<if test="id > 0">
				and a.id = #{id}
			</if>
			<if test="status != null">
				and a.status = #{status}
			</if>
			<if test="beginDate != null">
				and a.createTime > #{beginDate}
			</if>
			<if test="endDate != null">
				and #{endDate} > a.createTime
			</if>
		</where>
			limit #{start}, #{limit}
	</select>
	
	<select id="countArts" resultType="int" parameterType="SearchModel">
		select
			count(a.id)
		from 
		<if test="batchId > 0">
			art a ,art_museum m
		</if>
		<if test="batchId == 0">
			art a
		</if>
		<where>
			<if test="batchId > 0">
				a.id = m.artId and m.museumId = #{batchId}
			</if>
			<if test="name != null and name != ''">
				and a.artName like #{name}
			</if>
			<if test="number != null and number != ''">
				and a.artNumber like #{number}
			</if>
			<if test="innerNumber != null and innerNumber != ''">
				and a.artInnerNumber like #{innerNumber}
			</if>
			<if test="id > 0">
				and a.id = #{id}
			</if>
			<if test="status != null">
				and a.status = #{status}
			</if>
			<if test="beginDate != null">
				and a.createTime > #{beginDate}
			</if>
			<if test="endDate != null">
				and #{endDate} > a.createTime
			</if>
		</where>
	</select>

	<insert id="insertArt" parameterType="ArtModel" useGeneratedKeys="true" keyProperty="id">
		insert into 
			art
			(artName,artNumber,artInnerNumber,artYear,artAuthor,artMaterial,artSize,artCert,artDesc,createTime,artImage,artAudio)
		values
			(#{artName},#{artNumber},#{artInnerNumber},#{artYear},#{artAuthor},#{artMaterial},#{artSize},#{artCert},#{artDesc},now(),#{artImage},#{artAudio})
	</insert>

	<update id="updateArtImage" parameterType="map">
		update 
			art
		set 
			artImage = #{artImage}
		where 
			id = #{id}
	</update>
	
	<update id="updateArtAudio" parameterType="map">
		update 
			art
		set 
			artAudio = #{artAudio}
		where 
			id = #{id}
	</update>
	<delete id="deletArt" parameterType="int">
		delete from 
			art
		where id = #{id}
	</delete>
	
	
	<select id="getMuseum" resultType="MuseumModel" parameterType="int">
		select
			id,name,location,createTime
		from 
			museum 
		where
			id = #{id}
	</select>
	
	
	<insert id="insertMuseum" parameterType="MuseumModel" useGeneratedKeys="true" keyProperty="id">
		insert into 
			museum (name,createTime,location)
		values
			(#{name},now(),#{location})
	</insert>
	
	<delete id="deletMuseum"  parameterType="int" >
		delete from 
			museum 
		where id = #{id}
	</delete>
	
	<update id="updateMuseum" parameterType="MuseumModel">
		update museum 
		set id = #{id}
		<if test="name != null and name != ''">
			,name = #{name}
		</if>
		<if test="location != null and location != ''">
			,location = #{location}
		</if>
		where id = #{id}
	</update>
	
	<select id="loadAllMuseum" resultType="MuseumModel">
		select id,name,createTime,location from museum order by id desc
	</select>
	
	<!-- 
	void insertArt2Museum(int artId,int museumId);
	
	List<ArtModel> loadArtsFromMueum(int museumId,int start,int limit);
	
	int countArtsFromMueum(int museumId);
	
	void deleteMuseumArt(int museumId,int artId);
	
	void deleteMuseumArtById(int id);
	 -->
	 
	 <insert id="insertArt2Museum" parameterType="ArtMuseumModel">
	 	insert into art_museum 
	 	(artId,museumId,createTime)
	 	values
	 	(#{artId},#{museumId},now())
	 </insert>
	 
	 <select id="loadArtsFromMueum" parameterType="Map" resultType="ArtModel">
	 	select 
	 		a.id,a.artName,a.artNumber,a.artInnerNumber,a.artImage,a.artYear,a.artAuthor,a.artSize,a.artMaterial,a.artCert,a.artDesc
	 	from 
	 		art a,art_museum m
	 	where a.id = m.artId and m.museumId = #{museumId}
	 	order by id desc
	 	limit #{start},#{limit}
	 </select>
	 
	 <select id="countArtsFromMueum" parameterType="int" resultType="int">
	 	select count(*) from art_museum where museumId = #{museumId}
	 </select>
	
	<delete id="deleteMuseumArt" parameterType="Map">
		delete from 
			art_museum
		<where>
			<if test="artId > 0">
				and artId = ${artId}
			</if>
			<if test="museumId > 0">
				and museumId = ${museumId}
			</if>
		</where> 
	</delete>
	
	<delete id="deleteMuseumArtById" parameterType="int">
		delete from 
			art_museum
		where 
			id = #{id}
	</delete>
</mapper>